.analytics-blue, .analytics, .creator-blue, .customers, .promotions-green, .customers-blue, .promotions-blue, .messages-blue, .dashboard-blue, .dashboard-top, .messages, .creator{
	background: url(../images/sprites-1.png) no-repeat;
}

.analytics-blue{
	background-position: 0 -111px ;
	width: 90px;
	height: 90px;
}
 a:hover .analytics{
	background-position: 0 -111px ;
 	width: 90px;
 	height: 90px;
}
.analytics{
	background-position: -2px -10px ;
	width: 90px;
	height: 90px;
}

.customers{
	background-position: -103px -7px ;
	width: 90px;
	height: 90px;
}

.customers-blue{
	background-position: -106px -100px ;
	width: 90px;
	height: 90px;
}

a:hover .customers{
	background-position: -106px -100px ;
	width: 90px;
	height: 90px;
}

.promotions-green{
	background-position: -203px -4px ;
	width: 90px;
	height: 90px;
}

.promotions-blue{
	background-position: -204px -100px ;
	width: 90px;
	height: 90px;
}

a:hover .promotions-green{
	background-position: -204px -100px ;
	width: 90px;
	height: 90px;
}

.dashboard-blue{
	background-position: -299px -100px ;
	width: 90px;
	height: 90px;
}

.dashboard-top{
	background-position: -301px 0;
	width: 90px;
	height: 90px;
}

a:hover .dashboard-top{
	background-position: -299px -100px ;
	width: 90px;
	height: 90px;
}

.messages{
	background-position: -502px 0;
	width: 90px;
	height: 90px;
}

.messages-blue{
	background-position: -502px -99px ;
	width: 90px;
	height: 90px;
}

a:hover .messages{
	background-position: -502px -99px ;
	width: 90px;
	height: 90px;
}

a:hover .messages{
	background-position: -502px -99px ;
	width: 90px;
	height: 90px;
}

.creator{
	background-position: -404px -10px ;
	width: 90px;
	height: 90px;
}

.creator-blue{
	background-position: -399px -109px ;
	width: 90px;
	height: 90px;
}

a:hover .creator{
	background-position: -399px -109px ;
	width: 90px;
	height: 90px;
}
