.avatar-orange, .avatar-green, .ribbon-right, .ribbon-left, .chart-1, .chart-2{
	background: url(../images/sprites-2.png) no-repeat;
}

.avatar-orange{
	background-position: 0 -15px ;
	width: 95px;
	height: 86px;
	position: absolute;
	left: 125px;
	right: 80px;
	bottom: 142px;
	z-index: 100;
}

.avatar-green{
	background-position: -138px -13px ;
	width: 95px;
	height: 86px;
	position: absolute;
	left: 120px;
	right: 90px;
	bottom: 142px;
	z-index: 100;
}

.ribbon-right{
	background-position: -312px -44px ;
	width: 72px;
	height: 72px;
	position: absolute;
	left: 320px;
	bottom: 86px;
}

.ribbon-left{
	background-position: -264px -43px ;
	width: 72px;
	height: 72px;
	position: absolute;
	left: -25px;
	bottom: 86px;
}

.chart-1{
	background-position: -32px -135px ;
	width: 217px;
	height: 102px;
	margin-left: 40px;
	margin-right: 25px;
}

.chart-2{
	background-position: -283px -136px ;
	width: 217px;
	height: 102px;
	margin-left: 40px;
	margin-right: 25px;
}
