p{
  margin: 0px;
}


.strip{
  background-color: #218fe7;
}
ul.nav li{
  display: inline;
  padding: 5px;
  font-family: 'Myriad Pro Regular', sans-serif;
  color: white;
  float: right;
}

.icons{
  background-color: #194b74;
  background-image: url("images/background.png")
  background-position: center;

}

.dashboard{
  background-color: #33cc66;
  border: 10px solid #33cc66;
  border-radius: 10px;
  margin-top: 20px;
}
.dashboard p{
  font-family: "Myriad Pro Regular", sans-serif;
  font-size:36pt;
  color: white;
  margin-left: 20px;
}
input[type=search]{
  border:.5px solid #2db55b;
  border-radius: 5px;
  width: 200px;
  height: 40px;
  margin-right: 10px;
  margin-top: 10px;
  margin-bottom: 10px;
}
.gradient{
  background-image: linear-gradient(#f6f6f6, white);
  border-radius: 10px;
  margin-top: 20px;
  position: relative;
}

div.within-gradient{
  margin-left: 3%;
  margin-right: 3%;

}


.border-top{
  border: 1px solid #eeeeee;
  /*margin-left: 10px;*/
  border-collapse: collapse;
  background-color: white;
  margin-top: 15px;
  margin-bottom: 0px;
  /*display: inline-block;*/
}

.border-bottom{
  margin-top: 0px;
  border: 1px solid #eeeeee;
  border-collapse: collapse;
  background-color: white;
}

/*.border p{
  margin: 10px;*/
}
  div.border-top p#orange{
  text-transform: uppercase;
  color: #fe8830;
  text-align: center;
  font-size: 1em;
}

p.text{
  color: #777777;
  font-size: 1em;
  padding: 2px;
}


div#arrows{
  /*position: absolute;*/
  display: inline;
  padding: 0px;
  margin-top:2px;
  margin-bottom: 2px;
}

 button.arrow {
  display: inline-block;
  padding: 0px;
  border: none;
}

h1{
  font-family:"Myriad Pro Regular", sans-serif;
  font-size: 2.67em;
  color:#2498f4;
  margin-left:10px;
}

ul.tasks{
  list-style-type: none;
  line-height: 5px;
  padding-left: 10px;

}
ul li#title{
  font-size:1em;
  color: #818181;
  border-bottom: 1px dotted #818181;
}
ul li#sub-title{
  font-size:.836em;
  color:#999999;
  margin-left: 40px;
  margin-top: 5px;
}

ul li#title img{
  margin-right: 10px;
  margin-left:
}
ol.tasks li{
  color: #2498f3;
  font-size: 14pt;
}
p.sub-head{
  text-transform: uppercase;
  font-size: 1.087em;
  color: #818181;
  margin-left: 25px;
  margin-top:20px;
}
li#light{
  color: #cccccc;
}

div#know{
  background-color: #2498f4;
  border-radius: 10px;
}

div#ads{
  background-color: #2498f4;
}

div.ad{
  background-color: #ffffff;
  border-radius: 10px;
}

.footer{
  background-color: #f7f7f7;
  border-top: solid 1px white;
  box-shadow: 10px #e2e2e2;
  -moz-box-shadow: 10px #e2e2e2;
  -webkit-box-shadow: 10px #e2e2e2;
}
